@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f3eef2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  font-family: "Pixelify Sans", sans-serif;
  font-style: normal;
  font-size: clamp(30px, 8vw, 40px);
  color: #d56989;
  margin-bottom: 25px;
}

.calculadora {
  width: 100%;
  max-width: 556px;
  height: auto;
  background-color: #ffb6c7;
  border-radius: clamp(30px, 6vw, 50px);
  padding: clamp(20px, 5vw, 35px);
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 4vw, 30px);
  box-sizing: border-box;
}

.display {
  width: 100%;
  height: clamp(80px, 15vw, 106px);
  background-color: #f4d1cf;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 25px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: clamp(35px, 8vw, 45px);
  font-weight: 700;
  color: #294023;
}

.keyboard {
  width: 100%;
  aspect-ratio: 9 / 10;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: clamp(8px, 2vw, 15px);
}

.btn,
.btn-green {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: clamp(10px, 3vw, 20px);
  font-family: "Inter", sans-serif;
  font-size: clamp(20px, 6vw, 30px);
  font-weight: 700;
  cursor: pointer;
}

.btn {
  background-color: #d56989;
  color: #2b4321;
}

.btn-green {
  background-color: #2b4321;
  color: #ffb6c7;
}

.btn:hover {
  background-color: #fa8aa4;
  color: #2b4321;
  transition: all 0.3s ease-in-out;
}

.btn-green:hover {
  background-color: #3c5e2d;
  color: #ffb6c7;
  transition: all 0.3s ease-in-out;
}
